/* Fonts
-----------------------------------------------*/
html, body, p, a {
    font-family: "Theinhardt-Bold";
    font-weight: normal;
    font-variant: normal;
    font-style: normal;

    font-size: 14px;
    line-height: 19px;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
h1,h2,h3,h4 {
    font-family: "Theinhardt-Medium";

    font-weight: normal;
    font-variant: normal;
    font-style: normal;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    margin: 0;
}

h1 {
    font-size: auto;
    line-height: auto;
}
h2 {
    font-size: auto;
    line-height: auto;
}
h3 {
    font-size: 3em;
    line-height: 1.4em;
}
h4 {
    font-size: auto;
    line-height: auto;
}

.logo-text h1 {
    font-family: "Theinhardt-Bold";
    font-weight: normal;
    font-variant: normal;
    font-style: normal;

    font-size: 23px;
    line-height: 23px;
}

.within-logo-margin p,
.within-logo-margin p a {
    font-family: "Times New Roman";
    font-weight: normal;
    font-variant: normal;
    font-style: normal;

    font-size: 23px;
    line-height: 1.0em;

    text-rendering: optimizeLegibility;
}
.within-logo-margin p a {
    text-decoration: underline;
}
.kern-date {
    letter-spacing: -0.07em;
}
.kern-all-caps {
    letter-spacing: 0.05em;
}
.lightbox-title,
.lightbox-meta-info--student-name,
.departments ul li p,
.overlay-nav-item-text p {
    font-family: "Theinhardt-Medium";
}
.cross-svg {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    
    -webkit-transform-origin-x: 100%;
    -webkit-transform-origin-y: 0;
    -moz-transform-origin-x: 100%;
    -moz-transform-origin-y: 0;
    -ms-transform-origin-x: 100%;
    -ms-transform-origin-y: 0;
    transform-origin-x: 100%;
    transform-origin-y: 0;
}
.departments ul li p,
.overlay-nav-item-text p {
    font-size: 20px;
    line-height: 20px;
}
.overlay-nav-item-text p {
    margin: 0 0 0 0px;
}
.cross-svg line {
    stroke-width: 4;
    stroke-linecap: square;
    stroke-linejoin: miter;
}
.cross-svg {
    opacity: 0.5;
}
.cross-svg:hover {
    opacity: 1;
}
.cross-svg .blanket {
    fill: none;
}

.show-selected-work p, 
.show-selected-work p a,  
.disclaimer p, 
.disclaimer p a {
	font-size: 23px;
}
.attribution:before {
    content: "—";
    display: block;
    position: absolute;
    top: 0;
    left: -1.3em;
}
.piece-meta-wrapper .piece-meta {
    line-height: 1em;
    margin: 0;
}
.grid.work:after,
.piece-meta-wrapper .student-name,
.piece-meta-wrapper .risd-program,
.lightbox-description,
.lightbox-meta-info--risd-program,
.lightbox-meta-info--personal-link,
.lightbox-meta-info--personal-link a,
.lightbox .piece-module-text {
    font-family: "Times New Roman";
}
.grid.work:after,
.piece-meta-wrapper .student-name,
.piece-meta-wrapper .risd-program,
.lightbox-title,
.lightbox-description,
.lightbox-meta-info--student-name,
.lightbox-meta-info--risd-program,
.lightbox-meta-info--personal-link,
.lightbox-meta-info--personal-link a,
.lightbox .piece-module-text {
    font-size: 14px;
}
.lightbox-title,
.lightbox-meta-info--student-name {
    margin-top: 0;
    margin-bottom: 0.5em;
    line-height: 1em;
}
.lightbox-title,
.lightbox-meta-info--risd-program {
    margin-top: 0;
}
.lightbox-description {
    margin-bottom: 1.5em;
}
.lightbox-meta-info {
    margin-bottom: 2em;
}

.piece-meta-wrapper .risd-program {
    margin-left: 0.5em;
}
.piece-meta-wrapper .risd-program:before {
    content: "—";
    display: inline-block;
    position: relative;
    top: 0;
    left: -0.2em;
}

@media only screen and (min-width: 400px) {
    .within-logo-margin p {
        font-size: 26px;
        line-height: 1.0em;
    }
	.show-selected-work p, 
	.show-selected-work p a{
		font-size: 21px;
	}
	.disclaimer p, 
	.disclaimer p a{
		font-size: 21px;
	}
}
@media only screen and (min-width: 500px) {
    .logo-text h1 {
        font-size: 28px;
        line-height: 28px;
    }
    .within-logo-margin p, .within-logo-margin p a{
        font-size: 32px;
        line-height: 1.0em;
    }
	
	.show-selected-work p, 
	.show-selected-work p a{
		font-size: 25px;
	}
	.disclaimer p, 
	.disclaimer p a{
		font-size: 25px;
	}
}
@media only screen and (min-width: 768px) {
    .logo-text h1 {
        font-size: 38px;
        line-height: 38px;
    }
    .within-logo-margin p,
    .within-logo-margin p a {
        font-size: 38px;
    }
	
	.show-selected-work p, 
	.show-selected-work p a{
		font-size: 30px;
	}
	.disclaimer p, 
	.disclaimer p a{
		font-size: 30px;
	}
    .departments {
        text-align: center;
    }
    .departments ul li {
        margin-right: 20px;
    }
    .departments ul li:last-child {
        margin-right: 0;
    }
    .lightbox-title,
    .lightbox-meta-info--student-name,
    .departments ul li p,
    .overlay-nav-item-text p {
        font-size: 18px;
    }
    .departments ul li p,
    .overlay-nav-item-text p {
        line-height: 1em;
    }
    .departments ul li p {
        margin-bottom: 0.28em;
    }
    .overlay-nav-item-text p {
        margin-bottom: 0;
    }
    .cross-svg {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
    .cross-svg line {
        stroke-width: 3;
    }
}
@media only screen and (min-width: 1024px) {
    .logo-text h1 {
        font-size: 44px;
        line-height: 44px;
    }
    .within-logo-margin p,
    .within-logo-margin p a {
        font-size: 44px;
    }
    .within-logo-margin p {
        margin-left: 10px;
    }
	.show-selected-work p, 
	.show-selected-work p a{
		font-size: 30px;
	}
	.disclaimer p, 
	.disclaimer p a{
		font-size: 30px;
	}
    .departments ul li {
        margin-right: 22px;
    }
    .lightbox-title,
    .lightbox-meta-info--student-name,
    .departments ul li p,
    .overlay-nav-item-text p {
        font-size: 20px;
    }
    .cross-svg {
        -webkit-transform: scale(0.85);
        -moz-transform: scale(0.85);
        -ms-transform: scale(0.85);
        transform: scale(0.85);
    }
    .cross-svg line {
        stroke-width: 2;
    }
}
@media only screen and (min-width: 1280px) {
    .logo-text h1 {
        font-size: 48px;
        line-height: 48px;
    }
    .within-logo-margin p,
    .within-logo-margin p a {
        font-size: 48px;
    }
	.show-selected-work p, 
	.show-selected-work p a{
		font-size: 30px;
	}
	.disclaimer p, 
	.disclaimer p a{
		font-size: 30px;
	}
    .departments ul li {
        margin-right: 24px;
    }
    .lightbox-title,
    .lightbox-meta-info--student-name,
    .departments ul li p,
    .overlay-nav-item-text p {
        font-size: 22px;
    }
    .cross-svg {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
	
}
@media only screen and (min-width: 1440px) {
	
	.within-logo-margin p,
    .within-logo-margin p a {
        font-size: 54px;
    }
    .logo-text h1 {
        font-size: 50px;
        line-height: 50px;
    }
    .intro-quote h3 {
        font-size: 72px;
        line-height: 1.0em;       
    }
	.show-selected-work p, 
	.show-selected-work p a{
		font-size: 30px;
	}
	.disclaimer p, 
	.disclaimer p a{
		font-size: 30px;
	}
    .departments ul li {
        margin-right: 26px;
    }
    .lightbox-title,
    .lightbox-meta-info--student-name,
    .departments ul li p,
    .overlay-nav-item-text p {
        font-size: 24px;
    }
    .cross-svg {
        -webkit-transform: scale(0.95);
        -moz-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
    }
}
@media only screen and (min-width: 1600px) {
	
	.within-logo-margin p,
    .within-logo-margin p a {
        font-size: 58px;
    }
	.show-selected-work p, 
	.show-selected-work p a{
		font-size: 30px;
	}
	.disclaimer p, 
	.disclaimer p a{
		font-size: 30px;
	}
    .departments ul li {
        margin-right: 28px;
    }
    .lightbox-title,
    .lightbox-meta-info--student-name,
    .departments ul li p,
    .overlay-nav-item-text p {
        font-size: 26px;
    }
    .cross-svg {
        -webkit-transform: scale(1.0);
        -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
    }

}
@media only screen and (min-width: 1900px) {
	
	.within-logo-margin p,
    .within-logo-margin p a {
        font-size: 64px;
    }
	.show-selected-work p, 
	.show-selected-work p a{
		font-size: 30px;
	}
	.disclaimer p, 
	.disclaimer p a{
		font-size: 30px;
	}
    .departments ul li {
        margin-right: 30px;
    }
    .lightbox-title,
    .lightbox-meta-info--student-name,
    .departments ul li p,
    .overlay-nav-item-text p {
        font-size: 28px;
    }
    .cross-svg {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

}
@media only screen and (min-width: 2100px) {
	
	.within-logo-margin p,
    .within-logo-margin p a {
        font-size: 72px;
    }
	.show-selected-work p, 
	.show-selected-work p a{
		font-size: 30px;
	}
	.disclaimer p, 
	.disclaimer p a{
		font-size: 30px;
	}
    .departments ul li {
        margin-right: 34px;
    }
    .lightbox-title,
    .lightbox-meta-info--student-name,
    .departments ul li p,
    .overlay-nav-item-text p {
        font-size: 30px;
    }
    .cross-svg {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }
}