/* Fonts
-----------------------------------------------*/
html, body, p, a {
    font-family: "Theinhardt-Bold";
    font-weight: normal;
    font-variant: normal;
    font-style: normal;

    font-size: 14px;
    line-height: 19px;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
h1,h2,h3,h4 {
    font-family: "Theinhardt-Medium";

    font-weight: normal;
    font-variant: normal;
    font-style: normal;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    margin: 0;
}

h1 {
    font-size: auto;
    line-height: auto;
}
h2 {
    font-size: auto;
    line-height: auto;
}
h3 {
    font-size: 3em;
    line-height: 1.4em;
}
h4 {
    font-size: auto;
    line-height: auto;
}

.logo-text h1 {
    font-family: "Theinhardt-Bold";
    font-weight: normal;
    font-variant: normal;
    font-style: normal;

    font-size: 50px;
    line-height: 50px;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
.intro h3 {
    font-family: "Times New Roman";
    font-weight: normal;
    font-variant: normal;
    font-style: normal;

    font-size: 72px;
    line-height: 1.0em;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.about-overlay p {
    font-family: "Times New Roman";
    font-weight: normal;
    font-variant: normal;
    font-style: normal;

    font-size: 50px;
    line-height: 1.0em;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    text-rendering: optimizeLegibility;
}
.kern-date {
    letter-spacing: -0.07em;
}
.kern-all-caps {
    letter-spacing: 0.05em;
}


@media only screen and (min-width: 768px) {
    .logo-text h1 {
        font-size: 30px;
    }
    .intro h3 {
        font-size: 40px;
        line-height: 1.0em;
    }
    .about-overlay p {
        font-size: 47px;
    }
}
@media only screen and (min-width: 1024px) {
    .logo-text h1 {
        font-size: 30px;
    }
    .intro h3 {
        font-size: 45px;
        line-height: 1.0em;
    }
}
@media only screen and (min-width: 1200px) {
    .logo-text h1 {
        font-size: 45px;
    }
    .intro h3 {
        font-size: 60px;
        line-height: 1.0em;
    }
}
@media only screen and (min-width: 1400px) {
    .logo-text h1 {
        font-size: 50px;
    }
    .intro h3 {
        font-size: 65px;
        line-height: 1.0em;       
    }
}