/* Layout
-----------------------------------------------*/

/* grid */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.grid {
    width: 80%;
    display: block;
    position: relative;
    margin: 0 auto;
}
.grid:after {
    content: "";
    display: table;
    clear: both;
}
[class*="col-"] {
    float: left;
    padding-right: 20px;
}
[class*="col-"]:last-of-type {
    padding-right: 0;
}
/* end grid */


@media only screen and (min-width: 768px) {
    .grid {
        width: 768px;
    }
}
@media only screen and (min-width: 1024px) {
    .grid {
        width: 1024px;
    }
}
@media only screen and (min-width: 1280px) {
    .grid {
        width: 1280px;
    }
    .offset-3-10 {
        margin-left: 384px; /* 1280/10 * 3 = 384 */
    }
    .col-4-10 {
        width: 512px; /* 1280/10 * 4 = 512 */
    }
}