/* Layout
-----------------------------------------------*/

/* grid */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.grid {
    width: 80%;
    display: block;
    position: relative;
    margin: 0 auto;
}
.grid:after {
    content: "";
    display: table;
    clear: both;
}
[class*="col-"] {
    position: relative;
    float: left;
    padding-right: 20px;
}
[class*="col-"]:last-of-type {
    padding-right: 0;
}
/* end grid */


@media only screen and (min-width: 768px) {
    .grid {
        width: 768px;
    }
    .col-1-10 {
        width: 76px; /* 768/10 * 1 = 76  */
    }
	.offset-2-10 {
        margin-left: 154px; /* 768/10 * 3 = 228 */
    }
    .offset-3-10 {
        margin-left: 228px; /* 768/10 * 3 = 228 */
    }
    .col-1-10 {
        width: 76px; /* 768/10 * 1 = 76  */
    }
    .col-4-10 {
        width: 304px; /* 768/10 * 4 = 304 */
    }
	.col-6-10 {
        width: 461px; /* 768/10 * 4 = 304 */
    }
	.col-8-10 {
        width: 615px; /* 768/10 * 4 = 304 */
    }
    .col-10-10 {
        width: 768px; /* 768/10 * 10 = 768 */
    }
}
@media only screen and (min-width: 1024px) {
    .grid {
        width: 1024px;
    }
    .offset-1-10 {
        margin-left: 102px; /* 1280/10 * 1 = 384 */
    }
	.offset-2-10 {
        margin-left: 205px; /* 1280/10 * 2 = 384 */
    }
    .offset-3-10 {
        margin-left: 306px; /* 1024/10 * 3 = 306 */
    }
    .col-1-10 {
        width: 102px; /* 1024/10 * 1 = 102  */
    }
    .col-4-10 {
        width: 408px; /* 1024/10 * 4 = 408 */
    }
	.col-6-10 {
        width: 614px; /* 1024/10 * 6 = 614 */
    }
	.col-8-10 {
        width: 819px; /* 1024/10 * 6 = 614 */
    }
    .col-10-10 {
        width: 1024px; /* 1024/10 * 10 = 408 */
    }
}
@media only screen and (min-width: 1280px) {
    .grid {
        width: 1280px;
    }
    .offset-1-10 {
        margin-left: 128px; /* 1280/10 * 1 = 384 */
    }
	.offset-2-10 {
        margin-left: 256px; /* 1280/10 * 2 = 256 */
    }
	
    .offset-3-10 {
        margin-left: 384px; /* 1280/10 * 3 = 384 */
    }
    .col-1-10 {
        width: 128px; /* 1280/10 * 1 = 128 */
    }
    .col-4-10 {
        width: 512px; /* 1280/10 * 4 = 512 */
    }
	.col-6-10 {
        width: 768px; /* 1280/10 * 6 = 768 */
    }
	.col-8-10 {
        width: 1024px; /* 1280/10 * 6 = 768 */
    }
    .col-10-10 {
        width: 1280px; /* 1280/10 * 10 = 1280 */
    }
}