/* Modules
-----------------------------------------------*/
.about {

}

.where {

}

.work_01 .piece,
.work_01b .piece {
    margin-bottom: 20px;
}
.work_03 .piece img,
.work_01 .piece img,
.work_01a .piece img,
.work_01b .piece img {
    max-width: 100%;
}
.work_03 .filters,
.work_01 .filters,
.work_01a .filters,
.work_01b .filters {
    position: fixed;
    top: 0;
}
.work_03 .filter,
.work_01 .filter,
.work_01a .filter,
.work_01b .filter {
    cursor: pointer;
}

.work_03 .filters,
.work_01 .filters,
.work_01a .filters,
.work_01b .filters {
    z-index: 10;
}
.work_01 .work,
.work_01a .work,
.work_01b .work,
.work_03 .work {
    z-index: 0;
    margin-top: 200px;
}

.work_02 .piece {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.work_04 .cover115 {
    width: 115px;
    height: 90px;
}
.work_04 .cover202 {
    width: 202px;
    height: 158px;
}
.work_04 .cover230 {
    width: 230px;
    height: 180px;
}
.work_04 .cover404 {
    width: 404px;
    height: 316px;
}