/* Modules
-----------------------------------------------*/
.about {

}

.where {

}

.work_01 .piece,
.work_01b .piece {
    margin-bottom: 20px;
}
.work_03 .piece img,
.work_01 .piece img,
.work_01a .piece img,
.work_01b .piece img {
    max-width: 100%;
}
.work_03 .filters,
.work_01 .filters,
.work_01a .filters,
.work_01b .filters {
    position: fixed;
    top: 0;
}
.work_03 .filter,
.work_01 .filter,
.work_01a .filter,
.work_01b .filter {
    cursor: pointer;
}

.work_03 .filters,
.work_01 .filters,
.work_01a .filters,
.work_01b .filters {
    z-index: 10;
}
.work_01 .work,
.work_01a .work,
.work_01b .work,
.work_03 .work {
    z-index: 0;
    margin-top: 200px;
}

.work_02 .piece {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.work_04 .cover115 {
    width: 115px;
    height: 90px;
}
.work_04 .cover202 {
    width: 202px;
    height: 158px;
}
.work_04 .cover230 {
    width: 230px;
    height: 180px;
}
.work_04 .cover404 {
    width: 404px;
    height: 316px;
}
.work_04 .piece {
    margin-bottom: 20px;
}


.concept_04 {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
}
.concept_04 .logo-container {
    position: fixed;
    width: 100%;
    height: 100%;
}
.concept_04 .logo-svg {
    position: fixed;
    top: 0;
    left: 0;
}
.concept_04 .logo-component {
    position: fixed;
    font-size: 20px;
}
.concept_04 .logo-component--risd,
.concept_04 .logo-component--grad {
    text-align: left;
}
.concept_04 .logo-component--show,
.concept_04 .logo-component--2014 {
    text-align: right;
}
.concept_04 .logo-component--risd {
    top: 50px;
    left: 50px;
}
.concept_04 .logo-component--grad {
    top: 50%;
    left: 50px;
}
.concept_04 .logo-component--show {
    top: 50%;
    right: 50px;
}
.concept_04 .logo-component--2014 {
    bottom: 50px;
    right: 50px;
}
.concept_04 .logo-line {
    stroke: white;
    stroke-width: 3;
    fill: transparent;
}
.concept_04 .grid {
    margin-top: 50px;
    margin-bottom: 150px;
}

.departments ul {
    list-style: none;
}
.departments li {
    margin-bottom: 14px;
}
.departments p {
    line-height: 15px;
    margin: 0;   
}