/* colors
purple: rgb(38, 34, 98);
white:  rgb(255, 255, 255);
*/
/* Fonts
-----------------------------------------------*/
html, body {
    background-color: rgb(38, 34, 98);
    color: rgb(255, 255, 255);
}
html, body, p, a {
    font-family: "Theinhardt-Bold";
    font-weight: normal;
    font-variant: normal;
    font-style: normal;

    font-size: 13px;
    line-height: 17px;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
h1,h2,h3,h4 {
    font-family: "Theinhardt-Medium";

    font-weight: normal;
    font-variant: normal;
    font-style: normal;

    font-size: 50px;
    line-height: 70px;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    color: rgb(255, 255, 255);
}

/* Layout
-----------------------------------------------*/

/* grid */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.grid {
    width: 1024px;
    display: block;
    position: relative;
    margin: 0 auto;
}
.grid:after {
    content: "";
    display: table;
    clear: both;
}
[class*="col-"] {
    float: left;
    padding-right: 20px;
}
[class*="col-"]:last-of-type {
    padding-right: 0;
}
/* end grid */

/* Modules
-----------------------------------------------*/
.where {

}
.where .map {

}
.where .directions {

}

.map .streets path {
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-width: 5;
}
.map .marker-poi polygon{
    fill: rgb(255, 255, 255);
    stroke: rgb(38, 34, 98);
    stroke-width: 2;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(0.5);
}
.map .poi path {
    marker-end: url(#marker-poi);
}

/* State
-----------------------------------------------*/

/* Theme
-----------------------------------------------*/