/* Theme
-----------------------------------------------*/

body,
body.pink {
    background-color: rgb(38, 34, 98);
    color: rgb(255, 255, 255);
}

body.purple {
    background-color: rgb(38, 34, 98);
    color: rgb(255, 255, 255);
}

body.pink .overlay {
    background-color: rgb(38, 34, 98);
    background-color: rgba(38, 34, 98, 0.8);
}
body.purple .overlay {
    background-color: rgb(38, 34, 98);
    background-color: rgba(38, 34, 98, 0.8);
}

a,
.color-background a {
    color: rgb(255, 255, 255);
}

a:hover {
    text-decoration: underline;
}

.about .subtitle .heading {
    text-transform: uppercase;
}


/* concept 00 */
.map .streets path {
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-width: 20;
}
.map .marker-poi polygon{
    fill: rgb(255, 255, 255);
    stroke: rgb(38, 34, 98);
    stroke-width: 2;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(0.9);
}
.map .poi path {
    marker-end: url(#marker-poi);
}

/* end concept 00 */

/* concept 01 */
.path-to-animate  {
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-width: 20;
}
/* end concept 01 */